In [97]:
import pandas as pd
import numpy as np

In [98]:
covid_df = pd.read_csv("covid_19_clean_complete.csv")
covid_confirmed_df = covid_df[covid_df['Confirmed'] > 0]

In [99]:
covid_confirmed_df.head(10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
49,Anhui,China,31.8257,117.2264,1/22/20,1,0,0
50,Beijing,China,40.1824,116.4142,1/22/20,14,0,0
51,Chongqing,China,30.0572,107.8740,1/22/20,6,0,0
52,Fujian,China,26.0789,117.9874,1/22/20,1,0,0
54,Guangdong,China,23.3417,113.4244,1/22/20,26,0,0
55,Guangxi,China,23.8298,108.7881,1/22/20,2,0,0
56,Guizhou,China,26.8154,106.8748,1/22/20,1,0,0
57,Hainan,China,19.1959,109.7453,1/22/20,4,0,0
58,Hebei,China,39.5490,116.1306,1/22/20,1,0,0
60,Henan,China,33.8820,113.6140,1/22/20,5,0,0

In [100]:
confirmed_grouped_df = covid_confirmed_df.groupby(["Country/Region", "Date"]).agg({'Lat': 'mean',
    'Long': 'mean', 'Confirmed': 'sum'})
confirmed_grouped_df = confirmed_grouped_df.reset_index()
confirmed_grouped_df['Date'] = pd.to_datetime(confirmed_grouped_df['Date']).dt.date
confirmed_grouped_df = confirmed_grouped_df.sort_values(by=['Date'])
confirmed_grouped_df['log_confirmed'] = np.log(confirmed_grouped_df['Confirmed'])
confirmed_grouped_df.head(10)

,Country/Region,Date,Lat,Long,Confirmed,log_confirmed
2951,China,2020-01-22,30.994279,113.461025,548,6.306275
14277,US,2020-01-22,37.090200,-95.712900,1,0.000000
13552,Taiwan*,2020-01-22,23.700000,121.000000,1,0.000000
7200,Japan,2020-01-22,36.000000,138.000000,2,0.693147
12722,South Korea,2020-01-22,36.000000,128.000000,1,0.000000
13774,Thailand,2020-01-22,15.000000,101.000000,2,0.693147
13553,Taiwan*,2020-01-23,23.700000,121.000000,1,0.000000
7201,Japan,2020-01-23,36.000000,138.000000,2,0.693147
12723,South Korea,2020-01-23,36.000000,128.000000,1,0.000000
15005,Vietnam,2020-01-23,16.000000,108.000000,2,0.693147

In [103]:
covid_deaths_df = covid_df[covid_df['Deaths'] > 0]
covid_deaths_df.head(10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
62,Hubei,China,30.9756,112.2707,1/22/20,444,17,28
323,Hebei,China,39.5490,116.1306,1/23/20,1,1,0
327,Hubei,China,30.9756,112.2707,1/23/20,444,17,28
588,Hebei,China,39.5490,116.1306,1/24/20,2,1,0
589,Heilongjiang,China,47.8620,127.7615,1/24/20,4,1,0
592,Hubei,China,30.9756,112.2707,1/24/20,549,24,31
853,Hebei,China,39.5490,116.1306,1/25/20,8,1,0
854,Heilongjiang,China,47.8620,127.7615,1/25/20,9,1,0
857,Hubei,China,30.9756,112.2707,1/25/20,761,40,32
1118,Hebei,China,39.5490,116.1306,1/26/20,13,1,0

In [107]:
deaths_grouped_df = covid_deaths_df.groupby(["Country/Region", "Date"]).agg({'Lat': 'mean',
    'Long': 'mean', 'Deaths': 'sum'})
deaths_grouped_df = deaths_grouped_df.reset_index()
deaths_grouped_df['Date'] = pd.to_datetime(deaths_grouped_df['Date']).dt.date
deaths_grouped_df = deaths_grouped_df.sort_values(by=['Date'])
deaths_grouped_df['log_deaths'] = np.log(deaths_grouped_df['Deaths'])
deaths_grouped_df.head(100)

        Country/Region        Date        Lat        Long  Deaths  log_deaths
2093             China  2020-01-22  30.975600  112.270700      17    2.833213
2094             China  2020-01-23  35.262300  114.200650      18    2.890372
2095             China  2020-01-24  39.462200  118.720933      26    3.258097
2096             China  2020-01-25  39.462200  118.720933      42    3.737670
2097             China  2020-01-26  36.694120  118.245180      56    4.025352
2098             China  2020-01-27  34.692700  116.769343      82    4.406719
2099             China  2020-01-28  34.692700  116.769343     131    4.875197
2100             China  2020-01-29  34.183250  115.011963     133    4.890349
2101             China  2020-01-30  34.183250  115.011963     171    5.141664
2102             China  2020-01-31  34.183250  115.011963     213    5.361292
2103             China  2020-02-01  33.724800  114.218856     259    5.556828
7645       Philippines  2020-02-02  13.000000  122.000000       1    0.000000
2114             China  2020-02-02  33.724800  114.218856     361    5.888878
2125             China  2020-02-03  33.724800  114.218856     425    6.052089
7656       Philippines  2020-02-03  13.000000  122.000000       1    0.000000
2126             China  2020-02-04  32.582320  114.216970     491    6.196444
7657       Philippines  2020-02-04  13.000000  122.000000       1    0.000000
2127             China  2020-02-05  32.662000  113.863958     563    6.333280
7658       Philippines  2020-02-05  13.000000  122.000000       1    0.000000
2128             China  2020-02-06  32.662000  113.863958     633    6.450470
7659       Philippines  2020-02-06  13.000000  122.000000       1    0.000000
7660       Philippines  2020-02-07  13.000000  122.000000       1    0.000000
2129             China  2020-02-07  32.782271  114.713157     718    6.576470
2130             China  2020-02-08  32.773256  113.671956     805    6.690842
7661       Philippines  2020-02-08  13.000000  122.000000       1    0.000000
7662       Philippines  2020-02-09  13.000000  122.000000       1    0.000000
2131             China  2020-02-09  32.440542  113.837663     905    6.807935
2104             China  2020-02-10  32.199215  113.931885    1012    6.919684
7635       Philippines  2020-02-10  13.000000  122.000000       1    0.000000
2105             China  2020-02-11  32.199215  113.931885    1112    7.013915
...                ...         ...        ...         ...     ...         ...
8719       South Korea  2020-02-20  36.000000  128.000000       1    0.000000
2115             China  2020-02-20  32.377715  112.881700    2238    7.713338
2890  Diamond Princess  2020-02-21   0.000000    0.000000       2    0.693147
5011             Italy  2020-02-21  43.000000   12.000000       1    0.000000
7647       Philippines  2020-02-21  13.000000  122.000000       1    0.000000
4691              Iran  2020-02-21  32.000000   53.000000       4    1.386294
5182             Japan  2020-02-21  36.000000  138.000000       1    0.000000
3568            France  2020-02-21  46.227600    2.213700       1    0.000000
2116             China  2020-02-21  32.377715  112.881700    2238    7.713338
8720       South Korea  2020-02-21  36.000000  128.000000       2    0.693147
9317           Taiwan*  2020-02-21  23.700000  121.000000       1    0.000000
2891  Diamond Princess  2020-02-22   0.000000    0.000000       2    0.693147
7648       Philippines  2020-02-22  13.000000  122.000000       1    0.000000
3569            France  2020-02-22  46.227600    2.213700       1    0.000000
2117             China  2020-02-22  32.377715  112.881700    2443    7.800982
8721       South Korea  2020-02-22  36.000000  128.000000       2    0.693147
5183             Japan  2020-02-22  36.000000  138.000000       1    0.000000
4692              Iran  2020-02-22  32.000000   53.000000       5    1.609438
5012             Italy  2020-02-22  43.000000   12.000000       2    0.693147
9318           Taiwan*  2020-02-22  23.700000  121.000000       1    0.000000
2118             China  2020-02-23  32.377715  112.881700    2445    7.801800
4693              Iran  2020-02-23  32.000000   53.000000       8    2.079442
2892  Diamond Princess  2020-02-23   0.000000    0.000000       3    1.098612
7649       Philippines  2020-02-23  13.000000  122.000000       1    0.000000
5013             Italy  2020-02-23  43.000000   12.000000       3    1.098612
8722       South Korea  2020-02-23  36.000000  128.000000       6    1.791759
9319           Taiwan*  2020-02-23  23.700000  121.000000       1    0.000000
3570            France  2020-02-23  46.227600    2.213700       1    0.000000
5184             Japan  2020-02-23  36.000000  138.000000       1    0.000000
9320           Taiwan*  2020-02-24  23.700000  121.000000       1    0.000000

[100 rows x 6 columns]