In [2]:
from jupyter_plotly_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
from dash.dependencies import Input, Output

import pandas as pd
import numpy as np

In [3]:
covid_df = pd.read_csv("covid_19_clean_complete.csv")
covid_confirmed_df = covid_df[covid_df['Confirmed'] > 0]
covid_deaths_df = covid_df[covid_df['Deaths'] > 0]

covid_confirmed_df.head(10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
49,Anhui,China,31.8257,117.2264,1/22/20,1,0,0
50,Beijing,China,40.1824,116.4142,1/22/20,14,0,0
51,Chongqing,China,30.0572,107.8740,1/22/20,6,0,0
52,Fujian,China,26.0789,117.9874,1/22/20,1,0,0
54,Guangdong,China,23.3417,113.4244,1/22/20,26,0,0
55,Guangxi,China,23.8298,108.7881,1/22/20,2,0,0
56,Guizhou,China,26.8154,106.8748,1/22/20,1,0,0
57,Hainan,China,19.1959,109.7453,1/22/20,4,0,0
58,Hebei,China,39.5490,116.1306,1/22/20,1,0,0
60,Henan,China,33.8820,113.6140,1/22/20,5,0,0

In [6]:
# take median of lat and long for each country, sum Confirmed
confirmed_grouped_df = covid_confirmed_df.groupby(["Country/Region", "Date"]).agg({'Lat': 'mean',
    'Long': 'mean', 'Confirmed': 'sum'}).reset_index()
confirmed_grouped_df.head(5)

  Country/Region     Date   Lat  Long  Confirmed
0    Afghanistan  2/24/20  33.0  65.0          1
1    Afghanistan  2/25/20  33.0  65.0          1
2    Afghanistan  2/26/20  33.0  65.0          1
3    Afghanistan  2/27/20  33.0  65.0          1
4    Afghanistan  2/28/20  33.0  65.0          1

In [7]:
# ensure animation frame is sorted correctly
confirmed_grouped_df['Date'] = pd.to_datetime(confirmed_grouped_df['Date']).dt.date
confirmed_grouped_df = confirmed_grouped_df.sort_values(by=['Date'])
confirmed_grouped_df['log_confirmed'] = np.log(confirmed_grouped_df['Confirmed'])
confirmed_grouped_df.head(5)

,Country/Region,Date,Lat,Long,Confirmed,log_confirmed
2951,China,2020-01-22,30.994279,113.461025,548,6.306275
14277,US,2020-01-22,37.090200,-95.712900,1,0.000000
13552,Taiwan*,2020-01-22,23.700000,121.000000,1,0.000000
7200,Japan,2020-01-22,36.000000,138.000000,2,0.693147
12722,South Korea,2020-01-22,36.000000,128.000000,1,0.000000

In [8]:
# same preprocessing for deaths data
deaths_grouped_df = covid_deaths_df.groupby(["Country/Region", "Date"]).agg({'Lat': 'mean',
    'Long': 'mean', 'Deaths': 'sum'}).reset_index()
deaths_grouped_df['Date'] = pd.to_datetime(deaths_grouped_df['Date']).dt.date
deaths_grouped_df = deaths_grouped_df.sort_values(by=['Date'])
deaths_grouped_df['log_deaths'] = np.log(deaths_grouped_df['Deaths'])
deaths_grouped_df.head(5)

In [1]:
app = JupyterDash("Covid Dashboard")

app.layout = html.Div([
    html.H1('Covid-19 Tracker'),
    dcc.RadioItems(
        id='type-selector',
        options=[{'label': i, 'value': i} for i in ['confirmed', 'deaths']],
        value='confirmed',
        style={'margin-top': '60px'}
    ),
    dcc.Graph(id='covid-map')
], style={'text-align':'center'})

@app.callback(
    Output('covid-map', 'figure'),
    [Input('type-selector', 'value')])
def update_figure(selected_type):
    df = confirmed_grouped_df if selected_type == 'confirmed' else deaths_grouped_df
    return (
        px.scatter_geo(df,
            lat = df['Lat'],
            lon = df['Long'],
            color=df['log_' + selected_type],
            opacity=0.4,
            hover_name=df['Country/Region'],
            size=df['log_' + selected_type],
            animation_frame=df['Date'].astype(str),
            projection="natural earth")
    )

app